<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <div>
      <form action="/users/search" method="post" style="margin-top: 20px">
        <input
          type="text"
          name="search"
          pattern="[A-Za-z]{1,100}"
          placeholder="search here"
          style="
            height: 40px;
            width: 300px;
            border-color: #038b4c;
            opacity: 70%;
            font-size: 15px;
            color: white;
            border-radius: 5px;
          "
        />
        <button type="submit" class="btn btn-outline-success">Search</button>
      </form>
    </div>

    <table class="table table-striped tabl">
      <tr>
        <th class="box">#</th>
        <th class="table-head">First Name</th>
        <th class="table-head">Last Name</th>
        <th class="table-head">Email</th>
        <th class="table-head">Type</th>
        <th></th>
      </tr>

      <% let i=1; for(let datas of showuser) {%>

      <tr>
        <td class="box align-middle"><%= i %></td>
        <td class="box align-middle"><%= datas.firstName%></td>
        <td class="box align-middle"><%= datas.lastName%></td>
        <td class="box align-middle"><%= datas.email%></td>
        <td class="box align-middle"><%= datas.type%></td>
        <td class="box align-middle">
          <a
            href="/users/editUser/<%= datas._id %>/edit "
            class="btn btn-warning"
            >EDIT</a
          >
          <% if (datas.type==="user") { %>
          <form
            action="/users/deleteUser/<%= datas._id %>?_method=DELETE"
            method="post"
          >
            <button class="btn btn-danger">DELETE</button>
          </form>
        </td>
        <% } %>
      </tr>

      <% i++ } %>
    </table>

    <%- include('../partials/footer'); %>
  </body>
</html>
